{% extends "rest_framework/base.html" %}

{# Override this template in your own templates directory to customize #}
{% block title %}frosty API{% endblock %}
{% block branding %}<a style="font-size: 15px; line-height: 2.428571; color: white; text-decoration: none !important;" class='brand' rel="nofollow" href='/api/'>frosty API <span class="version">0.0.0</span></a>{% endblock %}
